In [49]:
# this is the first comment
spam = 1  # and this is the second comment
          # ... and now a third!
text = "# This is not a comment because it's inside quotes."

In [50]:
2+2

4

In [51]:
50 - 5*6

20

In [52]:
(50 - 5*6) / 4

5.0

In [53]:
8 / 5  # division always returns a floating point number

1.6

In [54]:
17 / 3  # classic division returns a float

5.666666666666667

In [55]:
17 // 3

5

In [56]:
17 % 3

2

In [57]:
2 ** 7  # 2 to the power of 7

128

In [58]:
width = 20

In [59]:
height = 5 * 9

In [60]:
width * height

900

```
n

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
 in 
----> 1 n

NameError: name 'n' is not defined
```

In [61]:
tax = 12.5 / 100
price = 100.50
price * tax

12.5625

In [62]:
price + _ # This is working OK also as a Notebook!

113.0625

In [63]:
round(_, 2)

113.06

In [64]:
'spam eggs'  # single quotes

'spam eggs'

In [65]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [66]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [67]:
'"Yes," they said.'

"\"Yes,\" they said."

'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [68]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [69]:
print('"Isn\'t," they said.')

"Isn't," they said.

In [70]:
s = 'First line.\nSecond line.'  # \n means newline

In [71]:
s

'First line.\nSecond line.'

In [72]:
print(s)

First line.
Second line.

In [73]:
print('C:\some\name')  # here \n means newline!

C:\some
ame

In [74]:
print(r'C:\some\name')  # note the r before the quote

C:\some\name

In [75]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [76]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

In [77]:
'Py' 'thon'

'Python'

In [78]:
text = ('Put several strings within parentheses '
        'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

```
This only works with two literals though, not with variables or expressions:

>>>
>>> prefix = 'Py'
>>> prefix 'thon'  # can't concatenate a variable and a string literal
  File "<stdin>", line 1
    prefix 'thon'
                ^
SyntaxError: invalid syntax
>>> ('un' * 3) 'ium'
  File "<stdin>", line 1
    ('un' * 3) 'ium'
                   ^
SyntaxError: invalid syntax
```

In [79]:
prefix = 'Py'
prefix + "thon"

'Python'

In [80]:
word = 'Python'
word[0]  # character in position 0

'P'

In [81]:
word[5]

'n'

In [82]:
word[-1]  # last character

'n'

In [83]:
word[-2] # second to last char!

'o'

In [84]:
word [-6]

'P'

In [85]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)

'Py'

In [86]:
word[2:5]  # characters from position 2 (included) to 5 (excluded)

'tho'

In [87]:
# Note how the start is always included, and the end always excluded. This makes sure that s[:i] + s[i:] is always equal to s:
word[:2] + word[2:]

'Python'

In [88]:
word[:4] + word[4:]

'Python'

In [89]:
word[:2]   # character from the beginning to position 2 (excluded)

'Py'

In [90]:
word[4:]

'on'

In [91]:
word[-2:]

'on'

```
Attempting to use an index that is too large will result in an error:

>>>
>>> word[42]  # the word only has 6 characters
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
IndexError: string index out of range

```

In [92]:
# However, out of range slice indexes are handled gracefully when used for slicing:
word[4:42]

'on'

In [93]:
word[42:]

''

```
Python strings cannot be changed â€” they are immutable. Therefore, assigning to an indexed position in the string results in an error:

>>>
>>> word[0] = 'J'
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: 'str' object does not support item assignment
>>> word[2:] = 'py'
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: 'str' object does not support item assignment

```

In [94]:
'J' + word[1:]

'Jython'

In [ ]:
word[:2] + 'py'

In [95]:
s = 'supercalifragilisticexpialidocious'
len(s)

34

In [96]:
squares = [1, 4, 9, 16, 25]

In [97]:
squares[0]  # indexing returns the item

1

In [98]:
squares[-1]

25

In [99]:
squares[-3:]  # slicing returns a new list

[9, 16, 25]

In [100]:
# All slice operations return a new list containing the requested elements. This means that the following slice returns a shallow copy of the list:
squares[:]

[1, 4, 9, 16, 25]

In [101]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [102]:
# Unlike strings, which are immutable, lists are a mutable type, i.e. it is possible to change their content:

cubes = [1, 8, 27, 65, 125]  # something's wrong here
4 ** 3  # the cube of 4 is 64, not 65!

cubes[3] = 64  # replace the wrong value
cubes

[1, 8, 27, 64, 125]

In [103]:
cubes.append(216)  # add the cube of 6
cubes.append(7 ** 3)  # and the cube of 7
cubes

[1, 8, 27, 64, 125, 216, 343]

In [104]:
# Assignment to slices is also possible, and this can even change the size of the list or clear it entirely:

letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [105]:
# replace some values
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [106]:
# now remove them
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [107]:
# clear the list by replacing all the elements with an empty list
letters[:] = []
letters

[]

In [108]:
letters = ['a', 'b', 'c', 'd']
len(letters)

4

In [109]:
# It is possible to nest lists (create lists containing other lists), for example:

a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [110]:
x[0]

['a', 'b', 'c']

In [111]:
x[0][1]

'b'

In [112]:
# Fibonacci series:
# the sum of two elements defines the next
a, b = 0, 1
while a < 10:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8