In [179]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [180]:
fruits.count('apple')

2

In [181]:
fruits.count('tangerine')

0

In [182]:
fruits.index('banana')

3

In [183]:
fruits.index('banana', 4)  # Find next banana starting a position 4

6

In [184]:
fruits.reverse()
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [185]:
fruits.append('grape')
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [186]:
fruits.sort()
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [187]:
fruits.pop()

'pear'

In [188]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [189]:
stack.pop()

7

In [190]:
stack

[3, 4, 5, 6]

In [191]:
stack.pop()

6

In [192]:
stack.pop()

5

In [193]:
stack

[3, 4]

In [194]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")           # Terry arrives
queue.append("Graham")          # Graham arrives
queue.popleft()                 # The first to arrive now leaves

'Eric'

In [195]:
queue.popleft()                 # The second to arrive now leaves

'John'

In [196]:
queue                           # Remaining queue in order of arrival

deque(['Michael', 'Terry', 'Graham'])

In [197]:
squares = []
for x in range(10):
    squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [198]:
squares = list(map(lambda x: x**2, range(10)))

In [199]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [200]:
squares = [x**2 for x in range(10)]

In [201]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [202]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [203]:
# and itâ€™s equivalent to:

combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))

combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [204]:
vec = [-4, -2, 0, 2, 4]
# create a new list with the values doubled
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [205]:
# filter the list to exclude negative numbers
[x for x in vec if x >= 0]

[0, 2, 4]

In [206]:
# apply a function to all the elements
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [207]:
# call a method on each element
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [208]:
# create a list of 2-tuples like (number, square)
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [209]:
# the tuple must be parenthesized, otherwise an error is raised
# [x, x**2 for x in range(6)]
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [210]:
# flatten a list using a listcomp with two 'for'
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [211]:
# List comprehensions can contain complex expressions and nested functions:

from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [212]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

In [213]:
# The following list comprehension will transpose rows and columns:

[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [214]:
# As we saw in the previous section, the nested listcomp is evaluated in the context of the for that follows it, so this example is equivalent to:

transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [215]:
# which, in turn, is the same as:

transposed = []
for i in range(4):
    # the following 3 lines implement the nested listcomp
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [216]:
# In the real world, you should prefer built-in functions to complex flow statements. The zip() function would do a great job for this use case:

list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [217]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

[1, 66.25, 333, 333, 1234.5]

In [218]:
del a[2:4]
a

[1, 66.25, 1234.5]

In [219]:
del a[:]
a

[]

In [220]:
# del can also be used to delete entire variables:

del a

# Referencing the name a hereafter is an error (at least until another value is assigned to it). Weâ€™ll find other uses for del later.

In [221]:
# A tuple consists of a number of values separated by commas, for instance:

t = 12345, 54321, 'hello!'
t[0]

12345

In [222]:
t

(12345, 54321, 'hello!')

In [223]:
# Tuples may be nested:
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

```
# Tuples are immutable:
t[0] = 88888

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
 in 
      1 # Tuples are immutable:
----> 2 t[0] = 88888
      3 

TypeError: 'tuple' object does not support item assignment
```

In [224]:
# but they can contain mutable objects:
v = ([1, 2, 3], [3, 2, 1])
v

([1, 2, 3], [3, 2, 1])

In [225]:
empty = ()

In [226]:
singleton = 'hello',    # <-- note trailing comma

In [227]:
len(empty)

0

In [228]:
len(singleton)

1

In [229]:
singleton

('hello',)

In [230]:
x, y, z = t
# This is called, appropriately enough, sequence unpacking and works for any sequence on the right-hand side. Sequence unpacking requires that there are as many variables on the left side of the equals sign as there are elements in the sequence. Note that multiple assignment is really just a combination of tuple packing and sequence unpacking.

In [231]:
x

12345

In [232]:
y

54321

In [233]:
z

'hello!'

In [234]:
# Curly braces or the set() function can be used to create sets. Note: to create an empty set you have to use set(), not {}; the latter creates an empty dictionary, a data structure that we discuss in the next section.
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                      # show that duplicates have been removed

{'banana', 'apple', 'orange', 'pear'}

In [235]:
'orange' in basket                 # fast membership testing

True

In [236]:
'crabgrass' in basket

False

In [237]:
# Demonstrate set operations on unique letters from two words

a = set('abracadabra')
b = set('alacazam')
a                                  # unique letters in a

{'a', 'b', 'c', 'd', 'r'}

In [238]:
a - b                              # letters in a but not in b

{'b', 'd', 'r'}

In [239]:
a | b                              # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [240]:
a & b                              # letters in both a and b

{'a', 'c'}

In [241]:
a ^ b                              # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

In [242]:
# Similarly to list comprehensions, set comprehensions are also supported:

a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

In [243]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [244]:
tel['jack']

4098

In [245]:
del tel['sape']
tel['irv'] = 4127
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [246]:
list(tel)

['jack', 'guido', 'irv']

In [247]:
sorted(tel)

['guido', 'irv', 'jack']

In [248]:
'guido' in tel

True

In [249]:
'jack' not in tel

False

In [250]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [251]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [252]:
 dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [253]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [254]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [255]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [256]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [257]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [258]:
# It is sometimes tempting to change a list while you are looping over it; however, it is often simpler and safer to create a new list instead.

import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)

filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

In [259]:
string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
non_null = string1 or string2 or string3
non_null

# Note that in Python, unlike C, assignment inside expressions must be done explicitly with the walrus operator :=. This avoids a common class of problems encountered in C programs: typing = in an expression when == was intended.

'Trondheim'

In [260]:
(1, 2, 3)              < (1, 2, 4)

True

In [261]:
[1, 2, 3]              < [1, 2, 4]

True

In [262]:
'ABC' < 'C' < 'Pascal' < 'Python'

True

In [263]:
(1, 2, 3, 4)           < (1, 2, 4)

True

In [264]:
(1, 2)                 < (1, 2, -1)

True

In [265]:
(1, 2, 3)             == (1.0, 2.0, 3.0)

True

In [266]:
(1, 2, ('aa', 'ab'))   < (1, 2, ('abc', 'a'), 4)

True